#virtual enviroment
env/
win_env/

#database
db.sqlite3

#pycharm (opciones del proyecto de pycharm)
.idea

#python bytecode files  (archivos precompilados de python)
*.pyc

node_modules/
users/migrations/0001_initial.py
migrations/__init__.py
users/migrations/0002_auto_20170526_1810.py
