<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WellDone{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Prompt" rel="stylesheet">
</head>

<body>

    <header>
        <h1 class="header-title">WellDone</h1>
    </header>
    <a name="begin"></a>
    {% block body %}

    {% endblock %}

    <footer>
        <p>WellDone</p>
        <a href="#begin"></a>
    </footer>

</body>
</html>
